.trafficTop{
    background-color: black;
    width: 20px;
    height: 100px;
    margin: auto;
}

.traffic-light{
    background-color: black;
    width: 100px;
    height: 280px;
    margin:auto;
    border-radius: 18px;
    padding-top: 10px;
}

.red {
    background-color: red;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
}

.yellow {
    background-color: yellow;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
}

.green {
    background-color: green;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
}

.selected {
    box-shadow: 0 0 30px 10px white;
}